{% extends 'baseadmin.html.twig' %}

{% block title  %} Liste Activités {% endblock %}

{% block body %}
    <div style="position: absolute; margin-left: 500px; margin-top: 100px">
        <h4>List Activités</h4>

    <a href="{{path('app_addactiviter')}}" class="btn btn-primary" tabindex="-1" role="button">Ajouter Activité</a>
<table class="table table-striped">
    <tr>
        <td>Titre</td>
        <td>Date_debut</td>
        <td>Date_fin</td>
        <td>Action</td>


    </tr>
    {% for i in tabActiviter%}
        <tr>
            <td>{{ i.titre }}</td>
            <td>{{i.datedebut|date("m/d/Y") }}</td>
            <td>{{i.datefin|date("m/d/Y") }}</td>

            <td><a href="{{ path('app_updateactiviter',{'id':i.id}) }}"  class="btn btn-primary" tabindex="-1" role="button" >Update</a>
            <a  href="{{ path('app_removeactiviter_back',{'id':i.id}) }}"class="btn btn-primary" tabindex="-1" role="button" >delete</a> </td>

            <br>
        </tr>

       </div>
    {% endfor %}
</table>{% endblock %}