<!DOCTYPE html>
    {% block style %}
    <style>
/* Float four columns side by side */
.event-column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.event-row {margin: 0 -5px;}

/* Clear floats after the columns */
.event-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.event-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  transition: 0.3s;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* On mouse-over, add a deeper shadow */
.event-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.event-card-container {
  padding: 2px 16px;
}



#map {
  height: 300px;
  width: 80%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
.marker-position {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
  padding: 10px;
  font-weight: 700;
  background-color: #fff;
}



.weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #222;
  background-image: url('https://source.unsplash.com/1600x900/?landscape');
  font-size: 120%;
}

.weather-card {
  background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.search-bar {
  border: none;
  outline: none;
  margin: 0 0 0 -50px;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}

.weather-button:hover {
  background: #7c7c7c6b;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}
    
    </style>
    {% endblock %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SPORTIFLY{% endblock %}</title>
        {% block stylesheets %}
            <!-- ICONSCOUT CDN -->
            <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
            <!-- STYLESHEET -->
            <link rel="stylesheet" href="{{ asset('frontoffice/css/style.css') }}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

        {% endblock %}


    </head>

        {% block navbar %}
            <div class="body">
                <nav>
                    <div class="container">
<div class="logo">
    <img src="{{ asset('frontoffice/images/logo.png') }}" alt="">
</div>

                        <div class="search-bar">
                            <i class="uil uil-search"></i>
                            <input type="search" placeholder="Search for Offres">
                        </div>
                        <div class="create">
                            <label class="btn btn-primary" for="create-post">Add Offre</label>
                            <div class="profile-picture">
                                <img src="{{ asset('frontoffice/images/profil.jpg') }}" alt="">
                            </div>
                        </div>
                    </div>
                </nav>
            </div>

        {% endblock %}



        {% block body %}
            <div class="body">
                <main>
                    <div class="container">
                        <!--======================== LEFT ==========================-->
                        {%block left%}
                            <div class="left">
                                <a href="#" class="profile">
                                    <div class="profile-picture">
                                        <img src="{{ asset('frontoffice/images/messi.jpg') }}" alt="">
                                    </div>
                                    <div class="handle">
                                        <h4>Lionel messi</h4>
                                        <p class="text-muted">
                                            @legend
                                        </p>
                                    </div>
                                </a>


                                <!-------------------- SIDEBAR ------------------------->
                                <div class="sidebar">
                                    <a class="menu-item active">
                                        <span><i class="uil uil-gift"></i></span><h3>Mes Offres</h3>
                                    </a>
                                    <a class="menu-item">
                                        <span><i class="uil uil-compass"></i></span><h3>Explore</h3>
                                    </a>
                                    <a class="menu-item" id="notifications">
                                        <span><i class="uil uil-bell"><small class="notification-count">9+</small></i></span><h3>Notifications</h3>
                                        <!-------------------- NOTIFICATION POPUP ---------------->
                                        <div class="notifications-popup">
                                            <div>
                                                <div class="profile-picture">
                                                    <img src="{{ asset('frontoffice/images/profile-2.jpg') }}" alt="">
                                                </div>
                                                <div class="notification-body">
                                                    <b>Keke Benjamin</b> Reserver votre Offre
                                                    <small class="text-muted">2 DAYS AGO</small>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="profile-picture">
                                                    <img src="{{ asset('frontoffice/images/profile-3.jpg') }}" alt="">
                                                </div>
                                                <div class="notification-body">
                                                    <b>John Doe</b> commented on your post
                                                    <small class="text-muted">1 HOUR AGO</small>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="profile-picture">
                                                    <img src="{{ asset('frontoffice/images/profile-4.jpg') }}" alt="">
                                                </div>
                                                <div class="notification-body">
                                                    <b>Mary Oppong</b> and <b>283 others </b> liked your post
                                                    <small class="text-muted">4 MINUTES AGO</small>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="profile-picture">
                                                    <img src="{{ asset('frontoffice/images/profile-5.jpg') }}" alt="">
                                                </div>
                                                <div class="notification-body">
                                                    <b>Doris Y. Lartey</b> commented on a post you are tagged in
                                                    <small class="text-muted">2 DAYS AGO</small>
                                                </div>
                                            </div>

                                        </div>
                                        <!-------------------- END NOTIFICATION POPUP ---------------->
                                    </a>

                                    <a class="menu-item">
                                        <span><i class="uil uil-compass"></i></span><h3>Reservation</h3>
                                    </a>
                                    <a class="menu-item">
                                        <span><i class="uil uil-schedule"></i></span><h3>Planning</h3>
                                    </a>
                                    <a class="menu-item" id="theme">
                                        <span><i class="uil uil-palette"></i></span><h3>Theme</h3>
                                    </a>

                                </div>
                                <!------------------- END OF SIDEBAR -------------------->
                                <label for="create-post" class="btn btn-primary">Create Post</label>
                            </div>
                        {% endblock %}

                        <!------------------- END OF LEFT -------------------->
                        {% block middle %}
                        <div class="middle">
                            <!--======================== MIDDLE ==========================-->

                            <!--======================== END OF MIDDLE ==========================-->
                        </div>
                        <!------------------------------- END OF FEEDS ------------------------------------>

                        {% endblock %}





                        <!--======================== RIGHT ==========================-->
                        {% block right %}
                            
                        {% endblock %}
                        <!--====================== END OF RIGHT ==========================-->

                    </div>
                </main>

                {% block popup%}

                {% endblock %}
            </div>
            {% block javascripts %}
            <script src="{{ asset('frontoffice/js/index.js') }}"></script>

        <!-- ====== ionicons ======= -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

            {% endblock %}
        {% endblock %}


</html>
