
        {% for i in listOffre%}
        <div class="feed">
            <div class="head">
                <div class="user">
                    <div class="profile-picture">
                        <img src="{{ asset('frontoffice/images/messi.jpg') }}" alt="">
                    </div>
                    <div class="info">

                        <h3>Lionel Messi</h3>
                        <small>Tounes, 15 minute Ago</small>
                    </div>
                </div>

            </div>

            <div class="text">
                <p>{{ i.description }}</p>
            </div>
            <div class="photo">
                <img src="{{ asset('uploads/offre/'~ i.affiche) }}" alt="">
            </div>
            <div class="action-button">
                <div>
                    <a href="{{ path('offre_modify',{'id':i.id}) }}"  class="btn btn-primary" tabindex="-1" role="button" >Update</a>

                </div>
                <div class="bookmark">
                    <button class="btn1"><a  href="{{ path('app_removeOffre',{'id':i.id}) }}"class="btn btn-primary" tabindex="-1" role="button" >delete</a></button>

                </div>
            </div>

        </div>
        {% endfor %}

