{% extends 'baseadmin.html.twig'  %}
{% block title %} Editer un offre {% endblock %}

{% block body %}
    <div style="position: absolute; margin-left: 500px; margin-top: 100px">
    <h1>Ajouter un offre</h1>
    {{ form_start(form) }}
    <div class="form-group">

        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
    </div>
    <div class="form-group">
        {{ form_label(form.prix) }}
        {{ form_widget(form.prix) }}
    </div>
    <div class="form-group">
        {{ form_label(form.affiche) }}
        {{ form_widget(form.affiche) }}
    </div>

    <br>
    <button class="btn btn-primary">
        Editer  Offre
    </button>
    {{ form_end(form) }}
    </div>
{% endblock %}