{% extends 'baseadmin.html.twig' %}


{% block title  %}Les offres {% endblock %}

{% block body %}
 <div style="position: absolute; margin-left: 500px; margin-top: 100px">
    <h4>List Offres</h4>

    <a href="{{path('app_addOffre')}}" class="btn btn-primary" tabindex="-1" role="button">Add Offre</a>
    <table class="table table-striped">
    <tr>
        <td>Description</td>
        <td>prix</td>
        <td>Date</td>
        <td>Affiche</td>
        <td>update</td>
        <td>delete</td>
        <td>Reserver</td>



    </tr>
    {% for i in listOffre%}
        <tr>

            <td>{{ i.description }}</td>
            <td>{{ i.prix }}</td>
            <td>{{i.date|date("m/d/Y") }}</td>
            <td>{{ i.affiche }}</td>

             <td><a href="{{ path('app_editOffre',{'id':i.id}) }}"  class="btn btn-primary" tabindex="-1" role="button" >Update</a> </td>
            <td><a  href="{{ path('app_removeOffreBack',{'id':i.id}) }}"class="btn btn-primary" tabindex="-1" role="button" >delete</a> </td>
            <td><a  href="{{ path('app_reserverOffre',{'id':i.id}) }}"class="btn btn-primary" tabindex="-1" role="button" >Reserver</a> </td>

            <br>
        </tr>


    {% endfor %}
    </table>
 </div>
     {% endblock %}
